<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cg.historicalfiguresquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/HFQ"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoriesActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cg.historicalfiguresquiz.HomeScreen" />
        </activity>
        <activity android:name=".PoliticiansActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ResultsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Results2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ScientistsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ArtistsActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>